<div id="nav-bar" class="ui large inverted menu">
  <div class="ui container">
    <a class="active item">
      ChatRoom
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item primary button">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% unless current_user.nil? %>
            <%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "item" %>
          <% else %>
            <%= link_to "LogIn", new_user_session_path, class: "item" %>
            <%= link_to "SignUp", new_user_registration_path, class: "item" %>
          <% end %>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>